<html>
<body>
    <div>
        <h1>History of HTML</h1>
        <h3>Birth of HTML</h3>
        <p>HTML, which stands for Hypertext Markup Language, was created by Tim Berners-Lee in the late 1980s. It was originally conceived as a simple markup language for sharing and formatting documents on the internet. Berners-Lee developed the first version of HTML, inspired by an existing markup language called SGML. He also wrote the first web browser and server software during this time.</p>
    </div>
</body>
</html>