@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.imgBack {
  background: rgb(49, 50, 218);
  background: radial-gradient(circle, rgba(49, 50, 218, 1) 0%, rgba(0, 0, 0, 1) 76%, rgba(0, 0, 0, 1) 87%);
}

.gradient-text {
  background: linear-gradient(to right, #FF00CC, #FF0077);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.manropeFontFamily {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.inconsolataFontFamily {
  font-family: "Inconsolata", monospace;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.glass {
  background: rgba(255, 255, 255, 0.05);
  -webkit-backdrop-filter: blur(22px);
  backdrop-filter: blur(22px);
  border: 1px solid rgba(255, 255, 255, 0.25);
}
.glass:hover {
  border: none;
}

/* .shadow-nav {
  box-shadow: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(50%, #0057ff),
    color-stop(100%, #00FFFF) 
  );
} */

.back {
  font-size: 16px;
  font-family: "Manrope", sans-serif;
  color: wheat;
}

.back:hover {
  padding: 2px 7px;
  border: 1px solid white;
  border-radius: 7px;
  color: black;
  background: rgb(170, 128, 190);
  background: linear-gradient(90deg, rgba(180, 121, 207, 0.996) 0%, rgba(181, 131, 152, 1) 49%, rgba(165, 180, 233, 1) 100%);
  font-family: "Manrope", sans-serif;
  font-size: 20px;
  text-decoration: underline;
}

.icons {
  font-size: 18px; 
  border: 1px solid white;
  width: 40px; 
  height: 40px;
  border-radius: 50%; 
  display: inline-flex; 
  justify-content: center;
  align-items: center; 
  transition: color 0.3s ease, background-color 0.3s ease;
}

.icons:hover {
  color: rgb(203, 114, 114);
  background-color: linear-gradient(to right, #D8B4FE, #1E3A8A);
}

/* Responsive adjustments */
@media screen and (max-width: 768px) {
  .icons {
    font-size: 16px;
    width: 35px;
    height: 35px;
  }
}

@media screen and (max-width: 480px) {
  .icons {
    font-size: 14px;
    width: 30px;
    height: 30px;
  }
}

.imgg{
  overflow: visible;
    margin: 0px 0px 11px;
    padding: 0px;
    width: 100%;
    height: 378.378px;
    float: none;
    clear: none;
    z-index: 9;
    border-radius: 20px;
    position: relative;
    vertical-align: inherit;
    transform-origin: 50% 50%;
    transform: translate(0px, 0px);
    display: block;
    background: url('/src/assets/Bg.png') 50% 50% / cover no-repeat content-box transparent;
    visibility: inherit;
    opacity: 1;
    pointer-events: auto;
}

.imgv{
  overflow: visible;
    margin: 0px 0px 11px;
    padding: 0px;
    width: 100%;
    height: 378.378px;
    float: none;
    clear: none;
    z-index: 9;
    border-radius: 20px;
    position: relative;
    vertical-align: inherit;
    transform-origin: 50% 50%;
    transform: translate(0px, 0px);
    display: block;
    background: url('/src/assets/Bg.png') 50% 50% / cover no-repeat content-box transparent;
    visibility: inherit;
    opacity: 1;
    pointer-events: auto;
}

.imgs{
  overflow: visible;
    margin: 0px 0px 11px;
    padding: 0px;
    width: 100%;
    height: 378.378px;
    float: none;
    clear: none;
    z-index: 9;
    border-radius: 20px;
    position: relative;
    vertical-align: inherit;
    transform-origin: 50% 50%;
    transform: translate(0px, 0px);
    display: block;
    background: url('/src/assets/Sbg.png') 50% 50% / cover no-repeat content-box transparent;
    visibility: inherit;
    opacity: 1;
    pointer-events: auto;
}